services:
  {{ CMANGOS_DB_SERVICE_NAME }}:
    image: docker.io/thoriumlxc/cmangos-{{ CMANGOS_EXPANSION }}db:{{ CMANGOS_DOCKER_TAG }}
    container_name: {{ CMANGOS_DB_SERVICE_NAME }}-container
    restart: unless-stopped
    healthcheck:
      test: ['CMD', 'healthcheck.sh', '--connect', '--innodb_initialized']
      interval: 1m
      timeout: 3s
      retries: 5
      start_period: 5m
    networks:
      - cmangos-{{ CMANGOS_EXPANSION }}-db-network
    volumes:
      - cmangos-{{ CMANGOS_EXPANSION }}-database:/var/lib/mysql
    environment:
      - TZ=Etc/UTC
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}


  wait-for-db:
    image: atkrad/wait4x
    depends_on:
      - {{ CMANGOS_DB_SERVICE_NAME }}
    command: tcp {{ CMANGOS_DB_SERVICE_NAME }}:3306 -t 600s -i 5s
    networks:
      - cmangos-{{ CMANGOS_EXPANSION }}-db-network

  database-backup:
    image: tiredofit/db-backup
    depends_on:
      - {{ CMANGOS_DB_SERVICE_NAME }}
    restart: unless-stopped
    networks:
      - cmangos-{{ CMANGOS_EXPANSION }}-db-network
    volumes:
      - ./backups:/backup:Z
    environment:
      - TZ=Etc/UTC
      - CONTAINER_ENABLE_MONITORING=False
      - USER_DBBACKUP={{ CMANGOS_HOST_GID }}
      - GROUP_DBBACKUP={{ CMANGOS_HOST_GID }}
      # Backup policies
      - DEFAULT_COMPRESSION=GZ
      - DEFAULT_BACKUP_INTERVAL=1440
      - DEFAULT_BACKUP_BEGIN=0400
      - DEFAULT_CLEANUP_TIME=10080
      # Target Database
      - DB01_TYPE=mariadb
      - DB01_HOST={{ CMANGOS_DB_SERVICE_NAME }}
      - DB01_NAME={{ CMANGOS_EXPANSION }}characters,{{ CMANGOS_EXPANSION }}realmd
      - DB01_USER=root
      - DB01_PASS=${MARIADB_ROOT_PASSWORD}

{% if CMANGOS_INSTALL_PHPMYADMIN | default(false) | bool %}
  phpmyadmin:
    image: phpmyadmin
    depends_on:
      - {{ CMANGOS_DB_SERVICE_NAME }}
    restart: unless-stopped
    networks:
      - cmangos-{{ CMANGOS_EXPANSION }}-db-network
    ports:
      - 8080:80
    environment:
      - PMA_HOST={{ CMANGOS_DB_SERVICE_NAME }}
      - PMA_PORT=3306
      - PMA_USER=root
      - PMA_PASSWORD=${MARIADB_ROOT_PASSWORD}
{% endif %}

  # ================================================

  {{ CMANGOS_REALMD_SERVICE_NAME }}:
    image: docker.io/thoriumlxc/cmangos-{{ CMANGOS_EXPANSION }}:{{ 'bots' if CMANGOS_ENABLE_BOTS | bool else 'default' }}-{{ CMANGOS_DOCKER_TAG }}
    container_name: {{ CMANGOS_REALMD_SERVICE_NAME }}-container
    user: {{ CMANGOS_HOST_UID }}:7878
    command: realmd
    ulimits:
      nofile: 1024
    depends_on:
      wait-for-db:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD-SHELL", "timeout 2 bash -c '</dev/tcp/127.0.0.1/3724'"]
      interval: 1m
      timeout: 3s
      retries: 5
      start_period: 5m
    restart: unless-stopped
    networks:
      - cmangos-{{ CMANGOS_EXPANSION }}-db-network
      - cmangos-{{ CMANGOS_EXPANSION }}-network
    ports:
      - 3724:3724
    volumes:
      - {{ CMANGOS_CONFIG_PATH }}/realmd.conf:/opt/mangos/etc/realmd.conf:ro,z
      - {{ CMANGOS_REALMD_LOGS_PATH }}:/opt/mangos/storage/logs:Z
    environment:
      - TZ=Etc/UTC

  {{ CMANGOS_MANGOSD_SERVICE_NAME }}:
    image: docker.io/thoriumlxc/cmangos-{{ CMANGOS_EXPANSION }}:{{ 'bots' if CMANGOS_ENABLE_BOTS | bool else 'default' }}-{{ CMANGOS_DOCKER_TAG }}
    container_name: {{ CMANGOS_MANGOSD_SERVICE_NAME }}-container
    user: {{ CMANGOS_HOST_UID }}:7878
    command: mangosd
    ulimits:
      nofile: 1024
    tty: true
    stdin_open: true
    depends_on:
      wait-for-db:
        condition: service_completed_successfully
    restart: unless-stopped
    stop_grace_period: 2m
    healthcheck:
      test: ["CMD-SHELL", "timeout 2 bash -c '</dev/tcp/127.0.0.1/8085'"]
      interval: 1m
      timeout: 3s
      retries: 5
      start_period: 5m
    networks:
      - cmangos-{{ CMANGOS_EXPANSION }}-db-network
      - cmangos-{{ CMANGOS_EXPANSION }}-network
    ports:
      - 8085:8085
    environment:
      - TZ=Etc/UTC
    volumes:
      - {{ CMANGOS_ASSETS_PATH }}:/opt/mangos/storage/data:ro,Z
      - {{ CMANGOS_CONFIG_PATH }}/mangosd.{{ CMANGOS_EXPANSION }}.conf:/opt/mangos/etc/mangosd.conf:ro,z
      - {{ CMANGOS_MANGOSD_LOGS_PATH }}:/opt/mangos/storage/logs:Z
      - {{ CMANGOS_STORAGE_HONOR_PATH }}:/opt/mangos/storage/honor,z
      - {{ CMANGOS_CONFIG_PATH }}/aiplayerbot.{{ CMANGOS_EXPANSION }}.conf:/opt/mangos/etc/aiplayerbot.conf:ro,z
      - {{ CMANGOS_CONFIG_PATH }}/ahbot.conf:/opt/mangos/etc/ahbot.conf:ro,z

networks:
  cmangos-{{ CMANGOS_EXPANSION }}-network:
  cmangos-{{ CMANGOS_EXPANSION }}-db-network:

volumes:
  cmangos-{{ CMANGOS_EXPANSION }}-database:

